language: php

php:
  - 7.0
  - 7.1

before_script:
  - curl -s http://getcomposer.org/installer | php
  - composer self-update
  - composer install --prefer-source --no-interaction --dev

script: phpunit
